<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha384-oCe74j5E5f5LPp4f3ktz7xj5F5mI5tK7zwf5p5KLp5cmgtL4Gu5F5go5jK7IR5J7k" crossorigin="anonymous">
  <title>Projeto IA</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="styles.css">
  <script src="index.js"></script>

</head>

<body style="height: 100vh; margin: 0; display: flex; flex-direction: column; justify-content: space-between;">
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand btn btn-light px-4 fw-semibold fs-5">
        <i class="bi bi-arrow-left-circle-fill me-2"></i> Apresentação
      </a>
    </div>
  </nav>

  <div class="container text-center">

    <h1 class="py-2"> CALCULADORA DE ROTAS</h1>

    <div class="py-4 d-grid">

      <div class="row">

        <div class="col-md-6 col-lg-6" style="max-height: 500px; overflow-y: auto;">
          <table class="table table-bordered table-small text-center" style="width: 100%;">
            <thead>
              <tr>
                <td id="0x0" class="cell p-3"></td>
                <td id="1x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="2x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="3x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="4x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="5x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="6x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="7x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="8x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="9x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="10x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="11x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="12x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="13x0" class="cell p-0 py-1 fw-bold"></td>
                <td id="14x0" class="cell p-3"></td>
              </tr>
              <tr>
                <td class="cell p-1">1</td>
                <td id="1x1" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">11</td>
                <td class="cell p-1">21</td>
                <td id="4x1" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">31</td>
                <td class="cell p-1">41</td>
                <td id="7x1" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">51</td>
                <td class="cell p-1">61</td>
                <td id="10x1" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">71</td>
                <td class="cell p-1">81</td>
                <td id="13x1" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">91</td>
              </tr>
              <tr>
                <td class="cell p-1">2</td>
                <td id="1x2" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">12</td>
                <td class="cell p-1">22</td>
                <td id="4x2" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">32</td>
                <td class="cell p-1">42</td>
                <td id="7x2" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">52</td>
                <td class="cell p-1">62</td>
                <td id="10x2" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">72</td>
                <td class="cell p-1">82</td>
                <td id="13x2" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">92</td>
              </tr>
              <tr>
                <td class="cell p-1">3</td>
                <td id="1x3" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">13</td>
                <td class="cell p-1">23</td>
                <td id="4x3" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">33</td>
                <td class="cell p-1">43</td>
                <td id="7x3" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">53</td>
                <td class="cell p-1">63</td>
                <td id="10x3" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">73</td>
                <td class="cell p-1">83</td>
                <td id="13x3" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">93</td>
              </tr>
              <tr>
                <td class="cell p-1">4</td>
                <td id="1x4" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">14</td>
                <td class="cell p-1">24</td>
                <td id="4x4" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">34</td>
                <td class="cell p-1">44</td>
                <td id="7x4" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">54</td>
                <td class="cell p-1">64</td>
                <td id="10x4" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">74</td>
                <td class="cell p-1">84</td>
                <td id="13x4" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">94</td>
              </tr>
              <tr>
                <td class="cell p-1">5</td>
                <td id="1x5" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">15</td>
                <td class="cell p-1">25</td>
                <td id="4x5" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">35</td>
                <td class="cell p-1">45</td>
                <td id="7x5" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">55</td>
                <td class="cell p-1">65</td>
                <td id="10x5" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">75</td>
                <td class="cell p-1">85</td>
                <td id="13x5" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">95</td>
              </tr>
              <tr>
                <td class="cell p-1">6</td>
                <td id="1x6" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">16</td>
                <td class="cell p-1">26</td>
                <td id="4x6" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">36</td>
                <td class="cell p-1">46</td>
                <td id="7x6" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">56</td>
                <td class="cell p-1">66</td>
                <td id="10x6" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">76</td>
                <td class="cell p-1">86</td>
                <td id="13x6" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">96</td>
              </tr>
              <tr>
                <td class="cell p-1">7</td>
                <td id="1x7" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">17</td>
                <td class="cell p-1">27</td>
                <td id="4x7" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">37</td>
                <td class="cell p-1">47</td>
                <td id="7x7" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">57</td>
                <td class="cell p-1">67</td>
                <td id="10x7" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">77</td>
                <td class="cell p-1">87</td>
                <td id="13x7" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">97</td>
              </tr>
              <tr>
                <td class="cell p-1">8</td>
                <td id="1x8" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">18</td>
                <td class="cell p-1">28</td>
                <td id="4x8" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">38</td>
                <td class="cell p-1">48</td>
                <td id="7x8" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">58</td>
                <td class="cell p-1">68</td>
                <td id="10x8" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">78</td>
                <td class="cell p-1">88</td>
                <td id="13x8" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">98</td>
              </tr>
              <tr>
                <td class="cell p-1">9</td>
                <td id="1x9" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">19</td>
                <td class="cell p-1">29</td>
                <td id="4x9" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">39</td>
                <td class="cell p-1">49</td>
                <td id="7x9" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">59</td>
                <td class="cell p-1">69</td>
                <td id="10x9" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">79</td>
                <td class="cell p-1">89</td>
                <td id="13x9" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">99</td>
              </tr>
              <tr>
                <td class="cell p-1">10</td>
                <td id="1x10" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">20</td>
                <td class="cell p-1">30</td>
                <td id="4x10" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">40</td>
                <td class="cell p-1">50</td>
                <td id="7x10" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">60</td>
                <td class="cell p-1">70</td>
                <td id="10x10" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">80</td>
                <td class="cell p-1">90</td>
                <td id="13x10" class="cell p-0 py-1 fw-bold"></td>
                <td class="cell p-1">100</td>
              </tr>
              <tr>
                <td id="0x11" class="cell p-3"></td>
                <td id="1x11" class="cell p-3"></td>
                <td id="2x11" class="cell p-3"></td>
                <td id="3x11" class="cell p-3"></td>
                <td id="4x11" class="cell p-3"></td>
                <td id="5x11" class="cell p-3"></td>
                <td id="6x11" class="cell p-3"></td>
                <td id="7x11" class="cell p-3"></td>
                <td id="8x11" class="cell p-3"></td>
                <td id="9x11" class="cell p-3"></td>
                <td id="10x11" class="cell p-3"></td>
                <td id="11x11" class="cell p-3"></td>
                <td id="12x11" class="cell p-3"></td>
                <td id="13x11" class="cell p-3"></td>
                <td class="cell p-1 fw-bold">X</td>
              </tr>
              <tr>
                <td id="0x12" class="cell p-0 py-1 fw-bold "></td>
                <td id="1x12" class="cell p-0 py-1 fw-bold"></td>
                <td id="2x12" class="cell p-0 py-1 fw-bold"></td>
                <td id="3x12" class="cell p-0 py-1 fw-bold"></td>
                <td id="4x12" class="cell p-0 py-1 fw-bold"></td>
                <td id="4x13" class="cell p-3"></td>
              </tr>
            </thead>
          </table>
        </div>

        <div class="col-md-6 col-lg-6 text-start" style="max-height: 500px; overflow-y: auto;">

          <div class="form-group mb-3 position-relative py-1 fw-bold">
            <label class="form-label">Escolha seu algoritmo de busca:</label>
            <select class="form-control form-select  w-100" id="algoritmo">
              <option value=""> Selecione seu algoritimo...  </option>
              <option value="0">Busca em Largura</option>
              <option value="1">Busca em Profundidade</option>
              <option value="2">Busca Gulosa</option>
            </select>
          </div>

          <div class="form-group mb-3 position-relative py-1 fw-bold">
            <label class="form-label">Escolha o número da prateleira:</label>
            <select class="form-control form-select w-100" id="prateleira">
              <option value="">Selecione um número...</option>
              <script>
                for (let i = 1; i <= 100; i++) {
                  document.write('<option value="' + i + '">' + i + '</option>');
                }
              </script>
            </select>
          </div>

          <div class="p-1 text-center"> 
            <button id="calcularBtn" class="btn btn-dark">Calcular</button>
          </div>

          <div class="mt-3">
            <textarea class="form-control w-100 h-100" name="" id="resposta" rows="7" readonly></textarea>
          </div>

        </div>

      </div>

    </div>

  </div>

  <footer class="container-fluid bg-black text-light py-1 fw-bold pt-4">

    <div class="container">
      <div class="row align-items-center justify-content-center pb-2 mb-3">
        <div class="col-auto bg-black">
          <a href="https://github.com/CamileCoelho" target="_blank" style="text-decoration: none; color: inherit;">Camile Coelho</a>
          <i class="bi bi-github"></i>
        </div>
        <div class="col-auto bg-black">
          <a href="https://github.com/Joao-Tietbohl" target="_blank" style="text-decoration: none; color: inherit;">Joao Pedro Tietbohl</a>
          <i class="bi bi-github"></i>
        </div>
        <!-- <div class="col-auto bg-black">
          <a href="https://github.com/LucasBleyer" target="_blank" style="text-decoration: none; color: inherit;">Lucas Bleyer</a>
          <i class="bi bi-github"></i>
        </div> -->
        <div class="col-auto bg-black">
          <a href="https://github.com/PedrouNunes" target="_blank" style="text-decoration: none; color: inherit;">Pedro Henrique Nunes</a>
          <i class="bi bi-github"></i>
        </div>
        <div class="col-auto bg-black">
          <a href="https://github.com/TalesReig" target="_blank" style="text-decoration: none; color: inherit;">Tales Reig Cordova</a>
          <i class="bi bi-github"></i>
        </div>
      </div>
      <div class="col-auto bg-black">
        <hr style="width: 100%;">
        <p class="text-center text-s">&copy; 2023 Lages, IFSC</p>
      </div>
    </div>

  </footer>
  
</body>

</html>