h1 {
  color: #2391ff;
}

.cell {
  width: 5%;
  height: 5%;
}

.table-small {
  max-width: 50%; /* Configura para ocupar metade da tela */
  margin: 0 auto; /* Centralizar a tabela horizontalmente */
}